doctype html
html
  head
    title Login
    link(
      rel="stylesheet",
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    )
  body
    h1 Application expressjs
    block content